<div class="mt-4">
    <form name="get" action="news">
        <div class="mb-3">
            <label for="search-input" class="form-label" >Từ Khóa</label>
            <input name="hihi" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Nhập từ khóa" name="q">

        </div>
        <button type="submit" class="btn btn-primary">Tìm Kiếm </button>
    </form>
</div>